<!-- <p>Welcome to Shiny Tracker!</p>

<div class="new-tracker-button" (click)="onClickNewTracker()">
  <button
    mat-raised-button
    color="primary"
    [innerHTML]="newTrackerHTML"
  ></button>
</div>

<div class="new-tracker-display" *ngIf="displayTracker">
  <p>Button to display tracker works!</p>
</div> -->

<div class="title-screen">
  <h1 class="welcome-text">Welcome Back User,</h1>
  <p>Ready to start a hunt!</p>
  <button class="start-button" (click)="navigateToHuntPage()">START</button>
</div>
