<div class="hunt-wrapper">
  <div class="hunt-container">
    <div class="selector-group">
      <p class="choose-game">Choose a game:</p>
      <select class="selector" (change)="onGameChange($event)">
        <option value=""> --- </option>
        <option *ngFor="let game of gameList" [value]="game">
          {{ game }}
        </option>
      </select>
    </div>
    <div class="selector-group">
      <p class="choose-game">Choose a method:</p>
      <select class="selector"  [disabled]="!generation" (change)="onMethodChange($event)">
        <option value=""> --- </option>
        <option *ngFor="let method of methodList" [value]="method">
          {{ method }}
        </option>
      </select>
    </div>
    <div class="selector-group">
      <p class="choose-game">Choose a pokemon:</p>
      <input 
        type="text" 
        class="search-bar" 
        placeholder="Search for a pokemon" 
        (input)="onPokemonChange($event)"
      /> 
      <p *ngIf="errorStatus === 404" class="error-message">Pokemon not found. Please try again.</p>
    </div>
  </div>
</div>
