<div class="hunt-wrapper">
  <div class="hunt-container">
    <div class="selector-group">
      <p class="choose-game">Choose a game:</p>
      <select class="selector">
        <option value="" selected>Option 1</option>
        <!-- Add options here -->
      </select>
    </div>
    <div class="selector-group">
      <p class="choose-game">Choose a method:</p>
      <select class="selector">
        <option value="" selected>Option 1</option>
        <!-- Add options here -->
      </select>
    </div>
    <div class="selector-group">
      <p class="choose-game">Choose a pokemon:</p>
      <select class="selector">
        <option value="" selected>Option 1</option>
        <!-- Add options here -->
      </select>
    </div>
  </div>
</div>
