<div class="hunt-cards-container">
    <mat-card *ngFor="let huntCard of huntCards" class="example-card">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>{{ huntCard.pokemon.name }}</mat-card-title>
            <mat-card-subtitle> {{ huntCard.game }}</mat-card-subtitle>
        </mat-card-header>
        <img [src]="huntCard.pokemon.sprite" alt="Photo of a {{huntCard.pokemon.name}}">
        <mat-card-content>
            <p> Rate: {{ huntCard.incrementer.rate }} </p>
            <p> Method: {{ huntCard.method }} </p>
            <p> Encounters: {{ huntCard.incrementer.encounters }} </p> 
            <p> Found: {{ huntCard.found ? 'Yes' : 'No' }} </p>
        </mat-card-content>
        <mat-card-footer>
            <button mat-mini-fab (click)="increment(huntCard.incrementer)">
                <mat-icon fontIcon="add"></mat-icon>
            </button>  
            <button mat-mini-fab (click)="decrement(huntCard.incrementer)">
                <mat-icon fontIcon="remove"></mat-icon>
            </button>      
        </mat-card-footer>
    </mat-card>
</div>
  