<h1> Shiny Pokemon </h1>
<p>
    Shiny Pokemon are a special variant of a Pokemon. Compared to the regular/typical variant,
    shiny Pokemon have a different color scheme and may play a "shining" animation at the start
    of a battle. Shiny Pokemon have identical stats as their regular counterparts, so the only
    differences between them are cosmetic.
</p>
<p>
    The odds of encountering a shiny Pokemon during normal gameplay is extremely low,
    with a probability of 1/8196 (for generations II-V) or 1/4096 (for generations VI onward). 
    So, obtaining a shiny Pokemon is considered as an achievement for Pokemon players.
</p>

<h1> What is Shiny Hunting? </h1>
<p>
    Shiny hunting is when a player uses a special method that increases the chances of encountering
    a shiny Pokemon. Different methods exist in each Pokemon generation, with some methods reappearing
    throughout the series. Additionally, the rates for encountering a shiny Pokemon may differ between
    generations despite using the same method.
</p>

<!-- card with hunting methods (no charm) -->

<h1> Shiny Charm </h1>
<p>
    Introduced in Pokemon Black 2 and White 2, the Shiny Charm is a key item that increases the chances
    of obtaining a shiny Pokemon by a flat rate. It is obtained by completing the National Pokedex in 
    the respective game, which requires capturing almost every Pokemon within that game. Since the 
    Shiny Charm provides a flat rate increase, its effect combines with other shiny hunting methods.
</p>

<!-- card with hunting methods (and with charm) -->